@model List<Gauniv.WebServer.Data.Game>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Owned Games";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/css/gameList.css" rel="stylesheet" type="text/css" />

<h1>Owned Games</h1>

<div class="games-container">
@foreach(var item in Model) {
    <a asp-action="Details" asp-route-id="@item.Id" class="game-card-link">
        <div class="game-card">
            <div class="game-image-placeholder">
                <img src="@item.ImagePath" alt="@item.Name" class="game-image" height="200" width="200" />
            </div>
            <div class="game-info">
                <h3>@item.Name</h3>
                <p class="game-price">@item.Price €</p>
            </div>
        </div>
    </a>
}
</div>